html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;    
}

.header {
    margin: 0;
    width: 100vw;
    height: 5rem;
    position: sticky; 
    top: 0;
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.header a {
    color: white;
    text-decoration: none;
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: white;
}

.content {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

#intro {
    text-align: left;
    font-size: 4rem;
    font-weight: 500;
}

#text {
    text-align: left;
}

.content p {
    font-size: 3rem;
}

.content img {
    width: 20rem;
    height: 20rem;
}

.container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#about {
    padding: 3rem;
    font-size: 2rem;
}

#skills {
    font-size: 2rem;
    padding: 3rem;
    text-align: center;
}

#skills img {
    width: 3rem;
    margin: 0 0.5rem;
}

#projects {
    padding: 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.project-container > * {
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    flex-wrap: wrap;
}

.project-container a {
    color: black;
    text-decoration: none;
}

.link {
    color: darkslateblue;
}

#show {
    width: 10rem;
    font-size: 1rem;
    padding: 0.75rem;
    border: 2px solid #272727;
    background-color: white;
    border-radius: 30px;
}

#show:hover {
    background-color: #272727;
    color: white;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact i {
    color: black;
    font-size: 2rem;
}