body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#header {
    background-color: red;
    font-size: 1.25rem;
    height: 4rem;
}

#header ul {    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none; 
}

a {
    color: black;
    text-decoration: none;
}

.content {
    background-color: black;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.content > div {
    background-color: red;
}

.content img {
    width: 20rem;
    height: 20rem;
}

#skills > * {
    text-align: center;
}

#skills img {
    width: 3rem;
    margin: 0 0.5rem;
}

#projects {
    padding: 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.project-container > * {
    padding: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    flex-wrap: wrap;
}

#show {
    width: 10rem;
    font-size: 1rem;
    padding: 0.75rem;
    border: 2px solid #656bc0;
    background-color: white;
    color: #656bc0;
    border-radius: 30px;
}

#show:hover {
    background-color: #656bc0;
    color: white;
}
